<%- include('partials/header'); -%>

<h1>Home</h1>
<p><%=homeStartingContent%></p>


<% posts.forEach(post => { %>
    <h1><%=  post.title  %></h1>
    <% let url = ("/posts/" + post._id); %>
    <p><%=  post.post.substring(0, 97) + "..." %>
        <a class="link-secondary" role="button" href="<%=url%>" + post.title>Read more</a>
    </p>
<% }) %>

<%- include('partials/footer'); -%>